@media only screen and (max-width: 600px) {
  .App-logo {
  height: 30vmin;
  }
  #write{
  left: 10%;
  }
  #profile{
  left: 70%;
  }
  #channel{
  position: relative;
  left: 0px;
  top: 0px;
  }
  .channel2{
  position: relative;
  left: 30%;
  }
  #channel3{
  margin: auto;
  width: 100%;
  border: 1px solid rgb(12, 12, 12);
  padding: 10px;
  text-align: center;
  }
  .topnav {
  height: 40px;
  border: 0.1px solid #111010;

  }
  .topnav input[type=text] {
  position: relative;
  top: 0px;
  border: none;
  margin-right: 8px;
  font-size: 14px;
  }
  #signIn{
  position: relative;
  color: #E040FB;
  left: 5%;
  }
  #search{
  position: relative;
  background-color: transparent;
  left: 15%;
  }
  #signUp{
  position: relative;
  color: #E040FB;
  right: -15%;
  }
  #logout{
  position: relative;
  background-color: transparent;
  bottom: 0px;
  left: 15%;
  color: #61dafb;
  border: none;
  }
  .forCs{
  position: absolute;
  width: 150px;
  height: fit-content;
  top: 300px;
  left: 70%;
  border-radius: 10px;
  border: 0.1px solid #000000;
  padding: 30px;
  }
  .appName {
  padding-top: 20px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 20px;
  }
  .authors{
  position: relative;
  top: 0px;
  left: 5px;
  }
  .comments{
  border: 2px solid #111010;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  }
  .sc{
  text-align: center;
  padding-top: 10px;
  }
  .box{
  max-width: 300px;
  margin: 40px auto;
  padding: 8px;
  position: relative;
  top: -200px;

  max-height: auto;
  }
  .sidenav {
  position: -webkit-sticky; 

  position: sticky;
  width: 150px;
  height: fit-content;
  top: 0;
  left: 70%;
  }
  .sidenav2{
  position: -webkit-sticky; 
  position: sticky;
  width: 40%;
  height: 150px;
  bottom: 0px;
  left: 70%;
  border-radius: 10px;
  border: 0.1px solid #000000;
  padding: 50px;
  }
  .globe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  }}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#write{
  position: relative;
  left: 700px;

}
#profile{
  position: relative;

left: 800px;

}
#channel{position: relative;
  font-size: 25px;
  left:0px;
  top: 0px;}
  .channel2{
    position: relative;
    left: 500px;
  }
  #channel3{
    margin: auto;
    width: 100%;
    border: 1px solid rgb(12, 12, 12);
    padding: 10px;
    text-align: center;
  }
  .topnav {
    height: fit-content;
  }
  
  .topnav input[type=text] {
  position: relative;
    top:0px;
    border: none;
  
    margin-right: 16px;
    font-size: 17px;
  }
  
#signIn{

  position: relative;
color: #0c7091;
  left: 700px;
}
#search{
  position: relative;
  background-color: transparent;
  border: 0.1px solid #8a8181;
  color: white;
left: 100px;
border-radius: 30px;

}
#signUp{
  position: relative;
  color: #0c6782;
  right: -800px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#logout{
  position: relative;
  background-color: transparent;
 
  left: 750px;
  border: none;
  color: #bd3737;
}

.container{

  border-radius: 1px;
  padding: 10px;
  margin: 10px 0;
opacity: 0;
transition: all 2s;

}

.show{
  opacity: 1;
}
.cont{

  border-radius: 1px;
  padding: 10px;
  margin: 10px 0;
}
.cont2{
  opacity: 0;
  transition: all 2s;
  border-radius: 1px;
  padding: 10px;
  margin: 10px 0;


}
.bottom{
  position: relative;
  left: 100px;
}
.forCs{
position: sticky;
width:fit-content;
 height:fit-content;
background-color:transparent;
top: 0px;
border-radius: 10px;
border: 0.1px solid #ffffff;
padding: 50px;
}
.appName {
  padding-top: 40px;
  color: #1795ae;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.authors{
  position: relative;
  top: 0px;
  left: 10px;
}
.comments{
  border: 2px solid #111010;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;

}

.sc{   
  text-align: center;
  padding-top: 15px;}

.container::after {
  content: "";
  clear: both;
  display: table;
}
.box{
  max-width: 550px;
  margin: 40px auto;
  padding: 16px;

position: relative;

top: -470px;
right: 305px;
  max-height: auto;
}


.sidenav {

  position: -webkit-sticky; /* Safari */
  position: sticky;
  width: 350px;
 height: fit-content;
  top: 0;
  left: 1150px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
}
.sidenav2{
  position: -webkit-sticky; /* Safari */
  position: sticky;
width: 15%;
 height: 300px;;
bottom: 0px;
  left: 1050px;
border-radius: 10px;
border-top-style: none;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
padding: 100px;
}
.globe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height: 30%;
align-items: center;
} 
body{
font-family: monospace;
background-color: #000000;
color: white;

}

.dropdown {
  position: relative;
height: 50px;
  display: inline-block;
}


.dropdown-content {

  position: relative;
  top: -10px;
left: 235px;

  background-color: black;
  width: 180px;
  border-radius: 10px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;

 
  
}

.dropdown-content  span  p {
color: #bab6b6;
}

.tag{
  font-size: 12px;
  position: relative;
  bottom: 10px;
}
.hTag{
  background-color: #c3fb40;
  border: #bd3737;
  
}

.popup{
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
  max-width: 300px;
  padding: 20px;
  background-color:black;
}

.dox{

  max-width: 550px;
  margin: 40px auto;
  padding: 16px;
width: 70%;
position: relative;
top: 0px;
right: 275px;
  max-height: auto;
}

.dox2{
  max-width: 90%;
  margin: 40px auto;
  padding: 16px;
font-size: large;
max-height: auto;
position: relative;
right: 0px;
white-space: pre-wrap

}
#blog-foot{

position:absolute;
left: 630px;

}


textarea::-webkit-scrollbar{
  width: 10px;
}

textarea::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title{
  width:1200px;

  height: fit-content;
background-color: transparent;
  font-size: 50px;
  font-weight: 600;
 
color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.article{
    width: 100%;
    background-color: transparent;
    min-height: 100px;
    height: auto;
    outline: none;
    font-size: 20px;
    font-weight: 600;
  color: white;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
sc
.pubBtn{

  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;

  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;

}
.button{
  position: fixed;
  bottom: 0px;
  border: none;
border-radius: 10px;
  background-color:rgb(93, 239, 112);
  outline: none;
  cursor: pointer;
}
.article{
  white-space: pre-wrap;
    height: 500px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 100px;

}

.small {
  width: 30%;
  background: rgb(253, 251, 251);
  height: 100%;
}



.aBlog {
  height: 100%;
  width: 100%;
}
.username{ width: 76%;
  color:rgb(74, 140, 226);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background-color:transparent;

  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;}
textarea {
  width: 100%;
  height: 100vh;
}
.profilePic{
  vertical-align: middle;
  width: 20px;
  height: 30px;
  border-radius: 50%;
}
.profilePic2{
  vertical-align: middle;
  width: 40px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 500px;
}
.profilePic3{
  vertical-align: middle;
  width: 40px;
  height: 50px;
  border-radius: 50%;
}
.iComment{
  background-color: transparent;
  width: fit-content;
  height:fit-content;
  color: white;
}
#x{
  position: relative;
  bottom: 70px;
  right: 50px;
  color: red;
  background-color: transparent;
}
#blogTitle{
  text-align: center;
}
.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #0f68c1, #21acd7);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.fox{
  background-color:transparent;
  width: 400px;
  height: 500px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.form{
  padding-top: 40px;

}
.sign {
  padding-top: 40px;
  color: #4689d1;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
